{% extends "../layouts/default.twig" %}

{% set mainclass = "blog" %}

{% block intro %}
	{% set title = "По волнам" %}
	<div class="blog__header">
		<div class="content">
			{% if data.category %}
				<h1 class="blog__title"><a class="blog__link" href="/blog">{{ title }}</a></h1>
				<p class="blog__category-text">{{ data.posts.results.length }} заметки с тегом</p>
				<p class="blog__category-name">{{ data.category.name }}</p>
			{% else %}
				<h1 class="blog__title">{{ title }}</h1>
				<p class="blog__description">Мысли 23 летнего фронтенд-разработчика</p>
			{% endif %}
		</div>
	</div>
{% endblock %}

{% block content %}
	{% if user %}<a class="blog__new" href="/keystone/posts?new">Напиши</a>{% endif %}
		{% if data.posts.results.length %}
			<div class="blog__posts">
				<div class="content">
					{% for post in data.posts.results %}
						<article class="post" data-ks-editable="editable(user, { list: 'Post', id: post.id })">
							<h2 class="post__title">
								<a href="/blog/post/{{ post.slug }}">{{ post.title }}</a>
							</h2>
							{% if post.image.exists %}
								<img src="{{ post.image.href }}" class="post__image">
							{% endif %}
							<div class="post__text">{{ post.content.full | raw }}</div>
							<p class="post__footer">
								<span class="post__date">{{ post._.publishedDate.format('D MMMM') }}</span>
								{% for cat in post.categories %}
									<a class="post__tag" href="/blog/{{ cat.key }}">{{ cat.name }}</a>
								{% endfor %}
							</p>
						</article>
					{% endfor %}
				</div>
			</div>
		{% else %}
			{% if data.category %}
				<h3 class="text-muted">There are no posts in the category {{ data.category.name }}.</h3>
			{% else %}
				<h3>Здесь пока пусто.</h3>
			{% endif %}
		{% endif %}
		<div class="blog__footer">
			<div class="content">
					<p class="blog__copyright">&copy; 2016. Александр Мансуров. Сайт работает на <a class="keystone" href="http://keystonejs.com/" target="_blank">Keystone JS</a></p>
			</div>
		</div>
{% endblock %}
