{% extends "../layouts/default.twig" %}

{% set mainclass = "blog" %}

{% block header %}
	{% set title = "Картинок нет" %}
	<header class="blog__header">
		<div class="content">
			{% if data.category %}
				<h1 class="blog__title"><a class="link" href="/blog">{{ title }}</a></h1>
				<p class="blog__category-text">{{ data.posts.results.length }} заметки с тегом</p>
				<p class="blog__category-name">{{ data.category.name }}</p>
			{% else %}
				<h1 class="blog__title">{{ title }}</h1>
				<p class="blog__description">Но вы держитесь!</p>
			{% endif %}
		</div>
	</header>
{% endblock %}

{% block content %}
	{% if user %}<a class="blog__new" href="/keystone/posts?new">Напиши</a>{% endif %}
		{% if data.posts.results.length %}
			<div class="blog__posts">
				<div class="content">
					{% for post in data.posts.results %}
						<article class="post" data-ks-editable="editable(user, { list: 'Post', id: post.id })">
							<h2 class="post__title">
								<a class="link" href="/blog/post/{{ post.slug }}">{{ post.title }}</a>
							</h2>
							<div class="post__text">{{ post.content | raw }}</div>
							<p class="post__footer">
								<span class="post__date">{{ post._.publishedDate.format('D MMMM') }}</span>
								{% for cat in post.categories %}
									<a class="post__tag link" href="/blog/{{ cat.key }}">{{ cat.name }}</a>
								{% endfor %}
							</p>
						</article>
					{% endfor %}
				</div>
			</div>
		{% else %}
			{% if data.category %}
				<h3 class="text-muted">There are no posts in the category {{ data.category.name }}.</h3>
			{% else %}
				<h3>Здесь пока пусто.</h3>
			{% endif %}
		{% endif %}
{% endblock %}
