{% extends "../layouts/default.twig" %}

{% block header %}
	{% set title = "Картинок нет" %}
	<header class="header">
		{% if data.category %}
			<h1 class="header__title"><a class="link" href="/blog">{{ title }}</a></h1>
			<p class="header__subtitle">{{ data.posts.results.length }} заметки с тегом {{ data.category.name }}</p>
		{% else %}
			<h1 class="header__title">{{ title }}</h1>
			<p class="header__subtitle">Но вы держитесь!</p>
		{% endif %}
	</header>
{% endblock %}

{% block content %}
	{% if user %}<a class="blog__new" href="/keystone/posts?new">Напиши</a>{% endif %}
	<section class="blog">
			{% if data.posts.results.length %}
				{% for post in data.posts.results %}
					<article class="post" data-ks-editable="editable(user, { list: 'Post', id: post.id })">
						<h2 class="post__title">
							<a class="link" href="/blog/post/{{ post.slug }}">{{ post.title }}</a>
							{% if user %}<a class="post__edit" href="/keystone/posts/{{post.id}}">✏️</a>{% endif %}
						</h2>
						<div class="post__text">{{ post.content | raw }}</div>
						<p class="post__footer">
							<span class="post__date">{{ post._.publishedDate.format('D MMMM') }}</span>
							{% for cat in post.categories %}
								<a class="post__tag link" href="/blog/{{ cat.key }}">{{ cat.name }}</a>
							{% endfor %}
						</p>
					</article>
				{% endfor %}
			{% else %}
				{% if data.category %}
					<p>Нет заметок с тегом {{ data.category.name }}.</h3>
				{% else %}
					<p>Здесь пока пусто  ¯\_(ツ)_/¯.</p>
				{% endif %}
			{% endif %}
	</section>
{% endblock %}
